{% extends "base_empiar_foundation.html" %}

{% block title %}
EMPIAR - Electron Microscopy Public Image Archive
{% endblock %}

{% block description %}
EMPIAR is an archive for 2D image data related to EMDB. It includes micrographs, particle sets and tilt-series.
{% endblock %}

{% block codeHeader %}
    <script type="text/javascript" src="{{emdb_global.static_empiar_path}}/asperaweb-4.js"></script>
    <script>document.write('<script src="{{emdb_global.static_empiar_path}}/connectversions.js?'+ new Date().getTime() + '"><\/script>')</script>
    <script type="text/javascript" src="{{emdb_global.static_empiar_path}}/connectinstaller-4.js"></script>
    <script type="text/javascript" src="{{emdb_global.static_empiar_path}}/localize-en-US.js"></script>
    <script type="text/javascript" src="{{emdb_global.static_empiar_path}}/install.js"></script>
    <script type="text/javascript" src="{{emdb_global.static_empiar_path}}/jquery-namespace.js"></script>

    <!-- wait for the thumbnail to be loaded before displaying lightbox buttons -->
    <script type="text/javascript" src="{{emdb_global.static_empiar_path}}/jquery.waitforimages.min.js"></script>

    <!-- for progress bar-->
    <script type="text/javascript" src="{{emdb_global.static_empiar_path}}/jquery-ui/jquery-ui.js"></script>

    <script type="text/javascript" src="{{emdb_global.static_empiar_path}}/getBrowser.js"></script>
    <script type="text/javascript" src="{{emdb_global.static_empiar_path}}/jstree/jstree.js"></script>
    <script type="text/javascript" src="{{emdb_global.static_empiar_path}}/jquery.collapser.min.js"></script>
    <script type="text/javascript" src="{{emdb_global.static_empiar_path}}/check-file-type.js"></script>
    <script type="text/javascript" src="{{emdb_global.static_empiar_path}}/open-lightbox.js"></script>
    <script type="text/javascript" src="{{emdb_global.static_empiar_path}}/empiar-jquery.js"></script>

    <script type="text/javascript" src="{{emdb_global.static_empiar_path}}/appmedia/webgateway/js/ome.viewport.js"></script>
    <script type="text/javascript" src="{{emdb_global.static_empiar_path}}/appmedia/webgateway/js/ome.viewportImage.js"></script>
    <script type="text/javascript" src="{{emdb_global.static_empiar_path}}/appmedia/webgateway/js/ome.gs_slider.js"></script>
    <script type="text/javascript" src="{{emdb_global.static_empiar_path}}/appmedia/webgateway/js/ome.gs_utils.js"></script>

    <!-- for progress bar-->
    <link type="text/css" rel="stylesheet" href="{{emdb_global.static_empiar_path}}/jquery-ui/jquery-ui.css">

    <!-- for lightbox -->
    <link rel="stylesheet" type="text/css"  href="{{emdb_global.static_empiar_path}}/lightbox.css">

    <!-- for DT -->
    <link type="text/css" rel="stylesheet" href="{{emdb_global.jquery_extlib}}/datatables.min.css">

    <!-- for directory tree -->
    <link rel="stylesheet" type="text/css" href="{{emdb_global.static_empiar_path}}/jstree/jstree.css">

    <link rel="stylesheet" type="text/css"  rel="stylesheet" media="print" href="{{emdb_global.static_empiar_path}}/empiar_print.css">

    <script type="text/javascript" src="{{emdb_global.static_empiar_path}}/wait_for_element.js"></script>


    <link rel="stylesheet" href="{{emdb_global.static_empiar_path}}/empiar_shadowbox.css">

    <!-- for OMERO viewer -->
    <link type="text/css" rel="stylesheet" href="{{emdb_global.static_empiar_path}}/appmedia/webgateway/css/ome.gs_slider.css">
    <link type="text/css" rel="stylesheet" href="{{emdb_global.static_empiar_path}}/appmedia/webgateway/css/ome.viewport.css">



{% endblock %}

{% block contentHeading %}
EMPIAR-{{entryName}}
{% endblock %}

{% block content %}
<style>
	#mobile-menu {display: none !important}
	#wrapper {min-width: 1000px}
	@media only screen and (max-width: 1400px) {
	    .pdbe-quick-info {display: none !important}
	}
</style>

<script src="{{emdb_global.static_empiar3d_path}}/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>

<link rel="import" href="{{emdb_global.static_empiar3d_path}}/bower_components/polymer/polymer.html">
<link rel="import" href="{{emdb_global.static_empiar3d_path}}/bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="{{emdb_global.static_empiar_path}}/entry_info.html">

<entry-info
			entry-url="{{emdb_global.empiar_entry}}"
			api-entry-url="{{emdb_global.empiar_api_entry_url}}"
			empiar-id="{{entryName}}"
			static-img="{{emdb_global.static_images}}"
			empiar-icon-dir="{{emdb_global.empiar_icon_url}}"
			static-rel-path="{{emdb_global.static_rel_path}}"
			loading-circle-img="{{emdb_global.static_images}}/loadingCircle.gif"
			next-page-down="{{emdb_global.static_empiar_path}}/img/nextPAGEdown.png"
			next-page-up="{{emdb_global.static_empiar_path}}/img/prevPAGEup.png"
			thumbnails-check-url="{{emdb_global.project_root}}/empiar/entry/{{entryName}}/entry_thumbnail/"
			thumbnails-render-url='{{emdb_global.project_root}}/empiar/render_thumbnail/'
			public-archive-ftp-url='{{emdb_global.ftp_empiar_public_archive}}'
			obsolete-archive-ftp-url='{{emdb_global.ftp_empiar_obsolete_archive}}'
			csrf-token='{{csrf_token}}'
			omero-url='{{emdb_global.empiar_omero_webclient_url}}'
			aspera-token-url=''
            scipion-viewer-url="{{emdb_global.project_root}}/empiar/entry/{{ entryName }}/scipion_workflow/"
></entry-info>

<div>
	<div id="omeroviewport"><iframe width="850" height="600" src="" id="omeroviewport" name="omeroviewport"></iframe></div>
</div>
<div class="miniview" id="viewport"></div>
{% endblock %}


{% block codeBody %}
    <script type="text/javascript">
        // Aspera transfer settings
        var conf = {
            remote_download_host: '{{ emdb_global.aspera_download_server }}',
            remote_download_user: '{{ emdb_global.aspera_download_user }}',
            download_authentication:'{{ emdb_global.aspera_download_authentication }}',
            target_rate_kbps: {{ emdb_global.apsera_target_rate_kbps }},
            rate_policy: '{{ emdb_global.aspera_rate_policy }}',
            cipher: '{{ emdb_global.aspera_cipher }}',
            asperaDownloadConnectPath: '{{ emdb_global.aspera_download_connect_path }}',
            uploadDirectoryPrefix: '{{ emdb_global.aspera_upload_directory_prefix }}'
        };
        {% if emdb_global.emdb_env != "Japan" %}
            $(document).ready(function () {
                // Display the warning for the EMPIAR main page
                $.ajax({
                        type: "GET",
                        cache: false,
                        url: "{{emdb_global.project_root}}/empiar/entry/{{entryName}}/get_rel_warning/",
                        success: function(dataPy){
                                if (dataPy != "") {
                                    $('.deposition_warning').html("<div>Warning:</div><div>"+dataPy+"</div>");
                                    $('.deposition_warning').show();
                                }
                        },
                        error: function(response){
                            if (response.status==403)
                                alert("Forbidden");
                        },
                });
            });
        {% endif %}
    </script>
{% endblock %}